@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f8f1;
  background-image: radial-gradient(#064c4e 1.15px, transparent 1.15px),
                    radial-gradient(#064c4e 1.15px, #f7f8f1 1.15px);
  background-size: 46px 46px;
  background-position: 0 0, 23px 23px;
  column-gap: 200px;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  background-color: #064c4e;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin-top: 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.bottom-box {
  height: 40px;
  margin-top: -20px;
  display: flex;
  justify-content: space-around;
}

#bottom_a {
  color: black;
  text-decoration: none;
}

.bottom-box button {
  border-radius: 20px;
  height: 30px;
  width: 160px;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}

.hero-section {
  width: 550px;
  color: #064c4e;
}
